/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica;
  background-color: #fffee5;
  color: #1b1f26;
}

header {
  background-color: #e08484;
  text-align: inline;
  border-radius: 30px;
}

h1, h2, h3 {
font-family: "Arial Rounded MT Bold";
color: #333b70;
}

.box {
  text-align: center;
  margin-left: 4%;
  margin-bottom: 50px;
}

#logo {
  font-size: 2.2em;
  font-family: "Arial Rounded MT Bold";
  font-weight: bold;
  text-decoration: none;
  display: inline;
  padding-left: 2%;
  color: #493359;
}

nav {
  margin-right: 0;
  float: right;
  padding-right: 2%;
  padding-top: 1%;
  color: #493359;
}

nav a {
  text-decoration: none;
  color: #493359;
}

nav ul {
  list-style: none;
  display: inline;
}

nav li {
  display: inline;
  font-size: 1.4em;
}

.rating input, button, submit {
  border:none;
  background-color: transparent;
  font-size: .9em;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.4em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  z-index: -1;
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.box ul {
  list-style: none;
  margin-left: 30%;
  text-align: left;
}

.box li {
  padding-left: 1em;
  text-indent: -1em;
}

.categories li:before {
  content: "🍤";
  padding-right: 5px;
}

.recipes li:before {
  content: "🧀";
  padding-right: 5px;
}

.ingredients li:before {
  content: "🍒";
  padding-right: 5px;
}

.avg-rating {
  word-spacing: -3px;
  color: gold;
  border: 2em;
  background-color: transparent;
  font-size: 1.1em;
}

.rating-star {
  word-spacing: double;
  color: gold;

}

.difficulty {
  font-size: 1.2em;
}

.time {
  font-size: 1.1em;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #e27c99;
  color: #333132;
}
