<h1><%= @category.name %></h1>
<% if logged_in? %>
  <%= link_to "New Recipe", new_category_recipe_path(@category) %>
<% end %>
<ul class="recipes">
  <% @category.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>
