<footer id="footer">
<a href="http://www.raiiar.com.ng">
<font size="4" color="GREEN">
<strong>Trasure-Data - Social Recipes &copy; It_Ddd - App Development - Another website designed by Julius Olatokunbo&nbsp;</strong></font>
</a>
</footer>
